# Elixir/Mix
/_build
/deps
/*.beam
/erl_crash.dump
/dot_prompt/mix.lock

# Node/Assets
node_modules
apps/dot_prompt_server/assets/node_modules

# Git
.git
.gitignore

# Environment
.env
.env.local

# VS Code
.vscode

# Docker
Dockerfile
docker-compose.yml
.dockerignore
